body {
    /*Fondo del index.html*/
    background-color: #F3F5FC;
}

.espacioLogo{
    /* Crear espacio alrededor del contenido de un elemento */
    padding: 20px; 
    width: auto;
    height: auto;
    position: relative;
    margin: 0px auto;
}

#imagenLogo{
    width: 30%; 
    height: auto;
}